body {
    background-color: #F5F5F5;
}
main > .mdl-grid {
    padding: 16px;
    max-width: 1232px;
}

.mdl-layout__content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.home-card > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../assets/coding-banner.jpg') center / cover;
    padding: 0
}
#web {
    background: url('../assets/screencap-web.jpeg') center / cover;
}
@media (max-width: 1024px) {
    .home-card > .mdl-card__title {
        height: 152px;
    }
}
@media (max-width: 375px) {
    .home-card > .mdl-card__title {
        height: 132px;
    }
}
.home-card > .mdl-card__title > .mdl-card__title-text {
    width: 100%;
    padding: 16px;
    background: rgba(0, 0, 0, 0.3);
}
.home-card > .mdl-card__menu {
    color: #fff;
}
.lobster-doodle-footer {
    padding-left: 40px;
}